div.slogan p.texte{
	text-align: right;
	font-size: 50px;
	padding-right: 50px;
}

div.menu-nav{
	background-color: red;
}

div.menu-nav nav ul{
	line-height: calc(1.5em + 20px);
}

div.menu-nav nav ul li.btn{
	background-color: red;
}

div.menu-nav nav ul li.btn a{
	color: #fff;
	background-color: red;
	text-decoration: none;
	display: block;
	padding: 0 10px;
	height: 100%;
	box-sizing: border-box;
}

div.menu-nav nav ul li.btn:hover a{
	background-color: #8B0000;
}

div.menu-nav nav ul li.btn{
	list-style-type: none;
	display: inline-block;
}

